[fan_generic nevermore]
##	Print Cooling Fan - CNC_FAN0
pin: PF8
kick_start_time: 0.5
off_below: 0.10

[gcode_macro NEVERMORE_ON]
description: Nevermore einschalten
gcode:
    {% set SPEED = params.SPEED|default(1.0)|float %}
    SET_FAN_SPEED FAN=nevermore SPEED={SPEED}

[gcode_macro NEVERMORE_OFF]
description: Nevermore ausschalten
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0