[fan_generic nevermore]
##	Print Cooling Fan - CNC_FAN0
pin: PF6
kick_start_time: 0.5
off_below: 0.10

[controller_fan controller_fan_1]
##	Hotend Fan - CNC_FAN1
pin: PF9
max_power: 1.0
kick_start_time: 0.5
# temporary
#fan_speed: 0.66
fan_speed: 0
idle_speed: 0

[heater_fan controller_fan_2]
##	Controller fan - CNC_FAN2
pin: PF7
kick_start_time: 0.5
heater: heater_bed
heater_temp: 80
#temporary
#fan_speed: 0.66
fan_speed: 0
idle_speed: 0

[fan_generic exhaust_fan]
#	Exhaust fan - CNC_FAN0
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5

[gcode_macro NEVERMORE_ON]
description: Nevermore einschalten
gcode:
    {% set SPEED = params.SPEED|default(1.0)|float %}
    SET_FAN_SPEED FAN=nevermore SPEED={SPEED}

[gcode_macro NEVERMORE_OFF]
description: Nevermore ausschalten
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0