[neopixel toolhead_light]
pin: EBBCan:gpio16
chain_count: 3
color_order: GRBW

[output_pin caselight]
#Chamber Lighting - HE3 Connector
pin: PA3
pwm:true
shutdown_value: 0
cycle_time: 0.01

# Start with light on
[delayed_gcode startup_lighting]
initial_duration: 1.0
gcode:
    SET_PIN PIN=caselight VALUE=0.20
    SET_LED LED=toolhead_light RED=0 GREEN=0 BLUE=0 WHITE=1.0